
asgiref==3.8.1
bootstrap4==0.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
cryptography==42.0.5
defusedxml==0.7.1
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==5.0.4
django-allauth==0.61.1
django-cache-url==3.4.5
django-crispy-forms==2.1
environs==11.0.0
idna==3.7
marshmallow==3.21.1
oauthlib==3.2.2
packaging==24.0
psycopg==3.1.18
pycparser==2.22
PyJWT==2.8.0
python-dotenv==1.0.1
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==2.0.0
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
